<?xml version="1.0" encoding="UTF-8"?>

<BugCollection version="3.0.1-dev-20150306-5afe4d1" sequence="1" timestamp="1455661601988" analysisTimestamp="1455661601021" release="">
  <Project projectName="Spring05">
    <Jar>/Users/abdulrasheedahmed/Documents/GontuSeries/Spring/Spring05/target/classes</Jar>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/Spring/Spring05/target/classes</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-aop-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-aop-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-aop-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-aspects-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-aspects-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-aspects-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-beans-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-beans-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-beans-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-context-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-context-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-context-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-context-support-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-context-support-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-context-support-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-core-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-core-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-core-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-expression-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-expression-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-expression-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-instrument-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-instrument-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-instrument-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-instrument-tomcat-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-instrument-tomcat-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-instrument-tomcat-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-jdbc-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-jdbc-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-jdbc-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-jms-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-jms-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-jms-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-messaging-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-messaging-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-messaging-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-orm-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-orm-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-orm-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-oxm-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-oxm-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-oxm-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-test-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-test-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-test-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-tx-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-tx-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-tx-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-web-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-web-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-web-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-webmvc-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-webmvc-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-webmvc-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-webmvc-portlet-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-webmvc-portlet-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-webmvc-portlet-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-websocket-4.2.0.RELEASE-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-websocket-4.2.0.RELEASE-sources.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/spring-websocket-4.2.0.RELEASE.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/commons-logging-1.2-javadoc.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Users/abdulrasheedahmed/Documents/GontuSeries/SpringJars/commons-logging-1.2.jar</AuxClasspathEntry>
    <AuxClasspathEntry>/Library/Java/JavaVirtualMachines/jdk1.8.0_60.jdk/Contents/Home/jre/lib/rt.jar</AuxClasspathEntry>
    <SrcDir>/Users/abdulrasheedahmed/Documents/GontuSeries/Spring/Spring05/src</SrcDir>
    <Cloud id="edu.umd.cs.findbugs.cloud.doNothingCloud" online="false"></Cloud>
  </Project>
  <BugInstance type="NP_ALWAYS_NULL" priority="1" rank="5" abbrev="NP" category="CORRECTNESS" first="1">
    <Class classname="com.gontuseries.springcore.TestSpringProject">
      <SourceLine classname="com.gontuseries.springcore.TestSpringProject" sourcefile="TestSpringProject.java" sourcepath="com/gontuseries/springcore/TestSpringProject.java"/>
    </Class>
    <Method classname="com.gontuseries.springcore.TestSpringProject" name="main" signature="([Ljava/lang/String;)V" isStatic="true">
      <SourceLine classname="com.gontuseries.springcore.TestSpringProject" start="9" end="14" startBytecode="0" endBytecode="106" sourcefile="TestSpringProject.java" sourcepath="com/gontuseries/springcore/TestSpringProject.java"/>
    </Method>
    <LocalVariable name="restaurantObj" register="2" pc="24" role="LOCAL_VARIABLE_VALUE_OF"/>
    <SourceLine classname="com.gontuseries.springcore.TestSpringProject" start="13" end="13" startBytecode="25" endBytecode="25" sourcefile="TestSpringProject.java" sourcepath="com/gontuseries/springcore/TestSpringProject.java" role="SOURCE_LINE_DEREF"/>
  </BugInstance>
  <Errors errors="0" missingClasses="0"></Errors>
  <FindBugsSummary timestamp="Tue, 16 Feb 2016 17:26:34 -0500" total_classes="2" referenced_classes="15" total_bugs="1" total_size="15" num_packages="1" java_version="1.8.0_60" vm_version="25.60-b23" cpu_seconds="3.17" clock_seconds="0.97" peak_mbytes="567.09" alloc_mbytes="683.00" gc_seconds="0.02" priority_1="1">
    <PackageStats package="com.gontuseries.springcore" total_bugs="1" total_types="2" total_size="15" priority_1="1">
      <ClassStats class="com.gontuseries.springcore.Restaurant" sourceFile="Restaurant.java" interface="false" size="6" bugs="0"/>
      <ClassStats class="com.gontuseries.springcore.TestSpringProject" sourceFile="TestSpringProject.java" interface="false" size="9" bugs="1" priority_1="1"/>
    </PackageStats>
    <FindBugsProfile>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.ClassInfoAnalysisEngine" totalMilliseconds="380" invocations="364" avgMicrosecondsPerInvocation="1045" maxMicrosecondsPerInvocation="22122" standardDeviationMircosecondsPerInvocation="2303"/>
      <ClassProfile name="de.tobject.findbugs.builder.FindBugs2Eclipse" totalMilliseconds="196" invocations="2" avgMicrosecondsPerInvocation="98385" maxMicrosecondsPerInvocation="172159" standardDeviationMircosecondsPerInvocation="73774"/>
      <ClassProfile name="edu.umd.cs.findbugs.classfile.engine.ClassDataAnalysisEngine" totalMilliseconds="56" invocations="365" avgMicrosecondsPerInvocation="153" maxMicrosecondsPerInvocation="1492" standardDeviationMircosecondsPerInvocation="106"/>
      <ClassProfile name="edu.umd.cs.findbugs.detect.FieldItemSummary" totalMilliseconds="40" invocations="15" avgMicrosecondsPerInvocation="2704" maxMicrosecondsPerInvocation="16194" standardDeviationMircosecondsPerInvocation="4165"/>
      <ClassProfile name="edu.umd.cs.findbugs.OpcodeStack$JumpInfoFactory" totalMilliseconds="39" invocations="63" avgMicrosecondsPerInvocation="624" maxMicrosecondsPerInvocation="5915" standardDeviationMircosecondsPerInvocation="844"/>
    </FindBugsProfile>
  </FindBugsSummary>
  <ClassFeatures></ClassFeatures>
  <History>
    <AppVersion sequence="0" timestamp="1455661601987" release="" codeSize="0" numClasses="0"/>
  </History>
</BugCollection>
